<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap"
			rel="stylesheet"
		/>
		<link href="../css/profile.css" rel="stylesheet" />
	</head>
	<body>
		<%- include('includes/navigation.ejs') %>

		<main class="main2">
			<section class="user_portfolio">
				<aside class="cleft">
					<div class="user_data">
						<img src="../images/download.jpeg" />
						<h1>Dikshan Gurung</h1>
						<h2>15 upvotes</h2>
						<h2>25 comments</h2>
						<div class="edit_profile">Edit Profile</div>
					</div>
				</aside>
				<aside class="cright">
					<div class="user_content">
						<div class="boxes">
							<div class="codes_box box">
								<h1>All Codes:</h1>
								<span class="total_codes">5</span>
							</div>
							<div class="verified_box box">
								<h1>Verified:</h1>
								<span class="total_verified">2</span>
							</div>
							<div class="notification_box box">
								<h1>Notification:</h1>
								<span class="total_notification">2</span>
							</div>
							<div class="moderator_req box">
								<h1>Moderator<br />Request</h1>
							</div>
						</div>
						<div class="content_box">
							<div class="code_content">
								<div class="code_box">
									<div class="img_section">
										<img src="../images/dp.JPG" />
										<h2>Kushal Pariyar</h2>
									</div>
									<div class="title_section">
										<h1>
											Write a program to print the sum of
											all nodes in a list
										</h1>
										<h2>2023/06/20</h2>
									</div>
									<div class="code_section">
										<img src="../images/lang/javascript.png" />
									</div>
									<div class="review_section">
										<h2 class="upvote_text">
											Upvotes:<span class="upvote"
												>100</span
											>
										</h2>
										<h2 class="comment_text">
											Comments:<span class="comment"
												>2</span
											>
										</h2>
										<h2 class="view">View</h2>
									</div>
									<div class="tick">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
											class="w-6 h-6"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
											/>
										</svg>
									</div>
								</div>
								<div class="code_box">
									<div class="img_section">
										<img src="../images/dp.JPG" />
										<h2>Kushal Pariyar</h2>
									</div>
									<div class="title_section">
										<h1>
											Write a program to print the sum of
											all nodes in a list
										</h1>
										<h2>2023/06/20</h2>
									</div>
									<div class="code_section">
										<img src="../images/lang/javascript.png" />
									</div>
									<div class="review_section">
										<h2 class="upvote_text">
											Upvotes:<span class="upvote"
												>100</span
											>
										</h2>
										<h2 class="comment_text">
											Comments:<span class="comment"
												>2</span
											>
										</h2>
										<h2 class="view">View</h2>
									</div>
									<div class="tick">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
											class="w-6 h-6"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
											/>
										</svg>
									</div>
								</div>
								<div class="code_box">
									<div class="img_section">
										<img src="../images/dp.JPG" />
										<h2>Kushal Pariyar</h2>
									</div>
									<div class="title_section">
										<h1>
											Write a program to print the sum of
											all nodes in a list
										</h1>
										<h2>2023/06/20</h2>
									</div>
									<div class="code_section">
										<img src="../images/lang/javascript.png" />
									</div>
									<div class="review_section">
										<h2 class="upvote_text">
											Upvotes:<span class="upvote"
												>100</span
											>
										</h2>
										<h2 class="comment_text">
											Comments:<span class="comment"
												>2</span
											>
										</h2>
										<h2 class="view">View</h2>
									</div>
									<div class="tick">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
											class="w-6 h-6"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
											/>
										</svg>
									</div>
								</div>
							</div>
							<!------Verified content----------------------------------------------------------------------------------------------------->
							<div class="verified_content">
								<div class="code_box">
									<div class="img_section">
										<img src="../images/dp.JPG" />
										<h2>Kushal Pariyar</h2>
									</div>
									<div class="title_section">
										<h1>
											Write a program to print the sum of
											all nodes in a list
										</h1>
										<h2>2023/06/20</h2>
									</div>
									<div class="code_section">
										<img src="../images/lang/javascript.png" />
									</div>
									<div class="review_section">
										<h2 class="upvote_text">
											Upvotes:<span class="upvote"
												>100</span
											>
										</h2>
										<h2 class="comment_text">
											Comments:<span class="comment"
												>2</span
											>
										</h2>
										<h2 class="view">View</h2>
									</div>
									<div class="tick">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
											class="w-6 h-6"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
											/>
										</svg>
									</div>
								</div>
							</div>
							<div class="notification_content">
								<div class="notifications">
									<div class="img_section">
										<img src="../images/dp.JPG" />
										<h2>Admin</h2>
									</div>
									<div class="title_section">
										<h1>
											Your code titled 'Counting nodes in
											the linked list ' has been approved
											by the review community
										</h1>
										<h2>2023/06/20</h2>
									</div>
								</div>
								<div class="notifications">
									<div class="img_section">
										<img src="../images/dp.JPG" />
										<h2>Admin</h2>
									</div>
									<div class="title_section">
										<h1>
											Your code titled 'Counting nodes in
											the linked list ' has been approved
											by the review community
										</h1>
										<h2>2023/06/20</h2>
									</div>
								</div>
							</div>
							<div class="moderator_req_content">
								<div class="mod_req">
									<h1>Do you want to help the community?</h1>
									<h2>Become a moderator</h2>
									<h2>
										But first you need to meet the following
										requirements
									</h2>
								</div>
								<div class="mod_req_content">
									<div class="mod_req_left">
										<div
											class="circle outer_circle circle1"
										>
											<div class="inner_circle">
												<span class="score p1score"
													>25%</span
												>
											</div>
										</div>
									</div>

									<div class="mod_req_right">
										<div class="check_boxes">
											<div class="check_box">✔</div>
											<h2>Have an account</h2>
										</div>
										<div class="check_boxes completed">
											<div class="check_box">✔</div>
											<h2>10 total codes posted</h2>
										</div>
										<div class="check_boxes">
											<div class="check_box">✔</div>
											<h2>
												Gave 10 comments to other codes
											</h2>
										</div>
										<div class="check_boxes">
											<div class="check_box">✔</div>
											<h2>Have atleast 50 upvotes</h2>
										</div>
										<div class="req_mod_btn">
											Request moderatorship
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</aside>
			</section>
		</main>
		<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------Footer----------------------------------------------------------------------------------------------------------------------------------------------->
		<footer>
			<section class="foot">
				<div class="copyright_msg">Copyright © 2023 Code Sanjal</div>
				<div class="contact_info">
					<div class="footer_info">About Us</div>
					<div>|</div>
					<div class="footer_info">Contact</div>
					<div>|</div>
					<div class="footer_info">Instagram</div>
					<div>|</div>
					<div class="footer_info">Terms and services</div>
				</div>
				<!-- <div class="country">Nepal 🚩</div> -->
			</section>
		</footer>
	</body>
	<script src="../js/script.js"></script>
</html>
